header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    /* border-bottom: 2px solid #ccc; */
    font-weight: var(--fw-navbar);
    font-size: var(--fs-navbar);
    color: var(--text-clr-primary);
  }
  
  header .month {
    margin-inline-start: 2.5rem;
    display: flex;
    align-items: center;
  }
  
  header .btns {
    display: flex;
    margin-inline: 3rem;
    gap: 2rem;
  }
  
  header .btns .btn {
    cursor: pointer;
  }
  
  header .btns .btn.today {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid var(--text-clr-200);
    font-weight: var(--fw-medium-500);
    font-size: var(--fs-normal);
  }
  
  header .btns .btn > span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  
  header .btns .btn > span:hover,
  header .btns .btn.today:hover {
    background-color: var(--bg-secondary);
  }