<header>
  <div class="month">{{ monthYearTitle }}</div>
  <div class="btns">
    <div class="btn today" (click)="currentMonthBtn()">
      Today
    </div>
    <div class="btn prev" title="Previous month" (click)="previousMonthBtn()">
      <span>&lt;</span>
    </div>
    <div class="btn next" title="Next month" (click)="nextMonthBtn()">
      <span>&gt;</span>
    </div>
  </div>
</header>

<main class="calendar-container">
  <div class="weekdays">
    <div class="day" *ngFor="let day of days">{{ day }}</div>
  </div>
  <div class="presentation">
    <div class="days">
      <div class="day-wrapper" *ngFor="let monthDate of monthDates">
        <div class="day" [class.next-or-prev]="monthDate.isPastMonthDay || monthDate.isNextMonthDay">
          <span>{{ (monthDate.date | date: 'd') }}</span>
        </div>
        <ng-container *ngIf="getEventsByDay(monthDate).length > 0">
          <ng-container *ngFor="let event of getEventsByDay(monthDate); let i=index">
            <ng-container *ngIf="i < 2">
              <div class="has-event" [class.if-empty-event]="monthDate.hasEvent===false"
                [class.if-event-start]="ifEventStart(monthDate.date, event.start_date)"
                [class.if-event-end]="ifEventEnd(monthDate.date, event.end_date)">
                <div *ngIf="eventTitle(monthDate.date, event.start_date); else hiddenEventTitle">
                  <span class="event-desc"> {{ event.description}}</span>
                </div>

                <ng-template #hiddenEventTitle>
                  <div style="opacity: 0;">
                    <span href="" class="event-desc">
                      {{ event.description}}
                    </span>
                  </div>
                </ng-template>
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="getEventsByDay(monthDate).length > 2">
            <span class="has-event if-more-two-events">
              {{ getEventsByDay(monthDate).length - 2 }} more
            </span>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</main>