<header>
  <div class="month">{{ monthYearTitle }}</div>
  <div class="btns">
      <div class="btn today" (click)="currentMonthBtn()">
          Today
      </div>
      <div class="btn prev" title="Previous month" (click)="previousMonthBtn()">
          <span>&lt;</span>
      </div>
      <div class="btn next" title="Next month" (click)="nextMonthBtn()">
          <span>&gt;</span>
      </div>
  </div>
</header>

<main class="calendar-container">
  <div class="weekdays">
    <div class="day" *ngFor="let day of days">{{ day }}</div>
  </div>
  <div class="presentation">
    <div class="days">
      <div class="day-wrapper" *ngFor="let monthDate of monthDates">
        <div class="day" [class.prev]="monthDate.isPastMonthDay" [class.next]="monthDate.isNextMonthDay"> <span>{{ (monthDate.date | date: 'd') }}</span>
        </div>
      </div>
    </div>
  </div>
  <!-- <div *ngFor="let event of (events$ | async)">
    {{ event | json }}
  </div> -->

</main>